@import 'root.css';

.create-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-title {
    margin: 5vh 0;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    max-width: 300px;
    border: solid black 2px;
    padding: 20px;
}

.create-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: solid black 2px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
}
button {
    padding: 4px;
}

#post-title {
    width: 240px;
}

#post-content {
    width: 240px;

}