* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    'head'
    'main'
    'footer';
    height: fit-content;
}

header {
    grid-area: head;

}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: solid black 2px;
}

main {
    grid-area: main;
    height: fit-content;
}

.nav {
    width: 100%;
}