* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    'head'
    'main'
    'footer';
    height: fit-content;
}

header {
    grid-area: head;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid black 2px; 
    gap: 20px;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    border: solid black 2px;
    padding: 6px;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main {
    grid-area: main;
    height: fit-content;
}

.nav {
    width: 100%;
}

#error {
    color: red;
}