@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


.form-group {
    border:  solid black 2px;
    padding: 30px;
}
.post {
    width: 300px;
    max-width: 300px;
    border: solid black 2px;
    padding: 20px;
}

.image {
    max-width: 300px;
}

img {
    height: 100%;
    width: 100%;
}

